<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Email Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        text-align: center;
      }

      .image-container {
        text-align: center;
      }
      .heading {
        font-size: 20px;
        font-weight: 700;
        color: #333;
        margin: 10px 0;
      }

      .image-container {
        text-align: center;
      }

      .image-container img {
        max-width: 100%;
      }

      .info {
        font-size: 16px;
        color: #666;
        margin: 10px 0;
      }

      .info strong {
        font-weight: bold;
      }

      .button-container {
        text-align: center;
        margin-top: 20px;
      }

      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        font-weight: medium;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="image-container">
        <img src="<%= appLogo %>" alt="App Image" style="height: 50px" />
      </div>
      <div class="heading"><%= broker %></div>
      <div class="heading"><%= name %></div>
      <div class="info">Max Listings Allowed: <%= maxListing %></div>
      <div class="info"><strong>Price:</strong> <%= price %></div>
      <div class="button-container">
        <a href="<%= dashboardLink %>" class="button">Go to Dashboard</a>
      </div>
    </div>
  </body>
</html>
